@import '../../variables';

.Tabs {
    width: 502px;
    height: 50px;
    display: flex;
    margin-left: 260px;
    margin-bottom: 20px;
}

.checkbox {
    margin-right: 1px;
}

.checkbox-input[type="checkbox"] {
    display: none;
}

.checkbox-label1,
.checkbox-label2{
    position: relative;
    display: inline-block;
    background:  $background;
    width: 251px;
    height: 50px;
    text-align: center;
    padding-top: 18px;
    color: $text;
    font-family: 'Open+Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 500;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
}

.checkbox-label1 {
    border-radius: 5px 0 0 5px;
}
.checkbox-label2 {
    border-radius: 0 5px 5px 0 ;
}

.checkbox-input:checked ~ .checkbox-label1,
.checkbox-input:checked ~ .checkbox-label2 {
    background-color: $background-button;
    height: 50px;
    color: white;
}

@media (max-width: 540px) {
    .checkbox-label1,
    .checkbox-label2{
       width: 150px;
       height: 35px; 
       font-size: 12px;
       padding-top: 10px;
    }
    .checkbox-input:checked ~ .checkbox-label1,
    .checkbox-input:checked ~ .checkbox-label2 {
       height: 35px;
    }

    .Tabs {
       width: 320px;
       height: 50px;
       margin: 10px auto 0px;
       margin-left: 10px;
    }
 
}











