@import '../../variables';

.Tabs {
    margin-left: 220px;
    list-style: none;
    right: 0;
    left: 0;
}

.Tabs li {
    display: inline-flex;
    cursor: default;
    margin-right: 0.5px;
}

.Tabs li button {
    display: inline-block;
    display: block;
    width: 250px;
    height: 50px;
    background-color: $background;
   
    text-decoration: none;
    border: 1px solid $border-ticket;
    border-radius: 5px;
}

.Tabs li button:not(.selected) {
    cursor: pointer;
}

.Tabs li:hover button {
    border-color: rgba(175, 47, 47, 0.1);
}

.Tabs li button.selected {
    background-color: $background-button;
    color: $background;
}
@media (max-width: 540px) {
    .Tabs {
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: -31px;
        width: 350px;
    }
    .Tabs li button {
        display: inline-block;
        width: 150px;
        height: 35px; 
        font-size: 12px;
    }
}














