$fon: #F3F7FA;
$text: #4A4A4A;
$background: white;
$border-color: #DFE5EC;
$background-button:#2196F3;
$border-checkbox: #9ABBCE;
$background-checkbox: #F1FCFF;
$border-ticket: #E5E5E5;
$text-ticket: #A0B0B9;